**/.snakemake/**/*
**/.vscode/**/*

gradient-attributions/processed/**/*
gradient-attributions/processed.10-05-2022/**/*


# Allow
!**/

!/gradient-attributions/processed/**/*.gz
!/gradient-attributions/processed/**/*.png
!/gradient-attributions/processed.10-05-2022/**/*.gz
!/gradient-attributions/processed.10-05-2022/**/*.png